
{% extends 'contenido.html' %}
{% block contenido %}
    <h1 class="und3b-title">Casos de Estudio y Ejemplos de Aplicación</h1>

    <h2 class="und3b-actividad unit-section">Actividad Interactiva</h2>

    <div class="und3-b-button-cnt">
        <a class="und3-b-prev-lession-btn" href="/lecciones?view=analisis-de-la-necesidad-y-beneficios-de-su-uso">Sección anterior</a>
        <a class="und3-b-next-lession-btn" href="/lecciones?view=aspectos-concretos-del-uso-de-patrones-en-poo">Siguiente sección</a>
        
    </div>
{% endblock contenido %}

