{% extends 'layouts/base.html' %} 
{% load static %} 

{% block title %}
Patrones de Diseño 
{% endblock title %} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard/index.css' %}" />
<link rel="stylesheet" href="{% static 'css/ova/unidad1a.css' %}" />
<link rel="stylesheet" href="{% static 'css/ova/unidad1b.css' %}" />
<link rel="stylesheet" href="{% static 'css/ova/unidad1c.css' %}" />
<link rel="stylesheet" href="{% static 'css/ova/unidad3a.css' %}" />
<link rel="stylesheet" href="{% static 'css/ova/unidad3b.css' %}" />
{% endblock extra_css %} 


{% block body %}

<aside class="sidebar">

    <!-- imagen -->
    <div class="sidebar__hero">
        <a href="/" class="sidebar__hero-title">Patrones de Diseño más usados</a>
    </div>

    <!-- video introductorio -->
    <ul class="list">
        <li class="list__li">
            <a href="#" class="list__item">
                <i class="fa-solid fa-align-left" style="font-size: .85rem;"></i>
                <span>Video introductorio</span>
            </a>
        </li>
    </ul>

    <!-- contenidos por seccion -->
    <ol class="list">
        {% for seccion in secciones %}
            <li class="list__li" style="width: 100%;">
                <button class="custom-btn">
                    <span>{{seccion.sectionTitle}}</span>
                    <i class="fa-solid fa-angle-right icon "></i>
                </button>
                <ol class="list__sublist list-collapse">
                    {% for lesson in seccion.lessons %}
                        <li class="list__li">
                            <a href="{% url 'lecciones' %}?view={{ lesson.url }}&i={{lesson.index}}" class="list__item">
                                <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1rem;">
                                    <i class="fa-solid fa-align-left " style="font-size: .85rem;"></i>
                                    <svg id="progress-circle" width="25" height="25" viewBox="0 0 36 36">
                                        <path
                                            class="circle-bg"
                                            d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831"
                                            fill="none"
                                            stroke="#eee"
                                            stroke-width="2.8"
                                        />
                                        <path
                                            class="circle"
                                            stroke-dasharray="{{ lesson.progress }}, 100"
                                            p="{{ lesson.progress }}"
                                            d="M18 2.0845
                                            a 15.9155 15.9155 0 0 1 0 31.831
                                            a 15.9155 15.9155 0 0 1 0 -31.831"
                                            fill="none"
                                            stroke="#4caf50"
                                            stroke-width="2.8"
                                            stroke-linecap="round"
                                        />
                                    </svg>
                                </div>
                                <span>{{ lesson.label }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ol>
            </li>
        {% endfor%}
        
    </ol>

</aside>

<section class="contenido">
    <!-- bloque para cargar los contenidos de cada leccion -->
    {% block contenido %}{% endblock contenido %}
</section>


<script>
    const btns = document.querySelectorAll('.custom-btn');
    const openSections = JSON.parse(localStorage.getItem('currentSection')) || [];

    btns.forEach((btn,i) => {

        openSections.forEach(section => {
            if (section == i) {
                const ol = btn.nextElementSibling;
                const icon = btn.querySelector('i')
                icon.classList.add('open');
                ol.classList.remove('list-collapse');
            }
        });

        btn.addEventListener('click', () => {
            const ol = btn.nextElementSibling;
            const icon = btn.querySelector('i')

            icon.classList.toggle('open');
            
            if(openSections.includes(i)) {
                openSections.splice(openSections.indexOf(i), 1);
            } else {
                openSections.push(i);
            }

            localStorage.setItem('currentSection', JSON.stringify(openSections));

            if (ol && ol.tagName.toLowerCase() === 'ol') {
                // Alterna la clase 'list-collapse' en el ol
                ol.classList.toggle('list-collapse');
            }

        });
    });
</script>

<script>
    const progressIndex = Number(window.location.href.split('i=')[1])
    const sections = document.querySelectorAll('.unit-section');
    let progress = 0;
    const totalSections = sections.length;

    // Configuración del IntersectionObserver
    const options = {
        root: null, // Esto significa que está observando el viewport
        rootMargin: '0px',
        threshold: .99 // El umbral del 50% de visibilidad
    };

    const observer = new IntersectionObserver((entries, observer) => {
        entries.forEach(entry => {
            if (entry.isIntersecting && !entry.target.classList.contains('viewed')) {
                entry.target.classList.add('viewed');
                progress++;
                updateProgress(progress, totalSections);
            }
        });
    }, options);

    sections.forEach(section => {
        observer.observe(section);
    });

    function updateProgress(progress, totalSections) {
        const progressCircle = document.querySelectorAll('.circle')[progressIndex];
        const realProgress = parseInt(progressCircle.getAttribute('p'));

        if (realProgress >= 60) {
            return;
        }


        const progressPercentage = (progress / totalSections) * 100;
        const adjustedProgressPercentage = progressPercentage >= 70 ? 100 : progressPercentage;

        // Calculate the stroke-dasharray value
        const radius = 15.9155;
        const circumference = 2 * Math.PI * radius;
        const offset = circumference - (adjustedProgressPercentage / 100) * circumference;

        progressCircle.style.strokeDasharray = `${circumference - offset}, ${circumference}`;
 

        // Enviar progreso al servidor
        fetch('/update_progress/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({ progress: progressPercentage, progressIndex: progressIndex+1 })
        }).then( res => res.json()).then(data => {
            console.log(data);
        });
    }
</script>

{% endblock body %}