
{% extends 'contenido.html' %}
{% block contenido %}


<div class="und1c-container">
    <h1 class="und1c-title  unit-section">Examén de fin de módulo: Conceptos Fundamentales</h1>
    <p class="und1a-paragraph">
        Esta es la actividad de fin de curso donde se te evaluará los conocimientos que se te impartieron en las tres secciones anteriores, esta actividad tendrá nota lo cual se guardará en el sistema
    </p>

    <div class=" unit-section">
        <h2 class="und1a-title">Actividad interactiva</h2>
        {% load static %}
        <iframe class="und1a-activity" src="{% static 'activities/finModulo1.htm' %}"></iframe>
    </div>

    <div class="und1a-div-cnt unit-section">
        <a class="next-lession-btn" href="/lecciones?view=componentes-esenciales-de-un-patron-de-diseno&i=2">Anterior sección</a>
        <a class="next-lession-btn" href="/lecciones?view=factory-method&i=4">Siguiente sección</a>
    </div>

</div>




{% endblock contenido %}
    
