{% extends 'layouts/base.html' %} {% load static %} {% block title %} Patrones
de Diseño 
{% endblock title %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/ova/index.css' %}" />
{% endblock extra_css %} 
{% block body %}

<header class="hero">
  <div class="container hero-container">
    <!-- equipo -->
    <section class="d-flex align-items-center mb-4">
      <!-- icono del equipo -->
      <div class="team-icon mr-2 bg-success p-2 d-flex justify-content-center align-items-center">
        E2
      </div>
      <!-- nombre del equipo -->
      <p class="m-0 text-light">Equipo 2</p>
    </section>
    <!-- titulo  y button de inicio del curso-->
    <section>
      <h1 class="text-center mb-5 text-light title">Patrones de Diseño más usados</h1>
      <!-- button -->
      <div class="d-flex justify-content-center">
        <button  class="boton">
          Empezar curso 
        </button>
      </div>
    </section>
  </div>
</header>

<!-- secciones del ova  -->
<main>
    <div class="cover__details-content-wrap mb-2">
        <!-- seccion de introduccion -->
        <section class="mb-6">
          <div class="cover__details-content">
              <p class="cover__details-content-text">
                ¡Bienvenido al OVA "Patrones de Diseño Más Usados"! En este entorno virtual de aprendizaje, exploraremos los patrones de diseño más populares y efectivos en el desarrollo de software, proporcionando herramientas y conocimientos esenciales para mejorar la calidad y eficiencia de tus proyectos. Nuestro contenido incluye un video introductorio y secciones dedicadas a los conceptos fundamentales, donde aprenderás qué es un patrón de diseño, su importancia y aplicación, y los componentes esenciales de un patrón de diseño.
                <br/> 
                <br/> 
                A continuación, profundizaremos en los patrones creacionales, como Factory Method, Abstract Factory, Builder, Prototype y Singleton. También abordaremos los patrones estructurales, incluyendo Adapter, Bridge, Decorator y Facade. Finalmente, cubriremos los patrones de comportamiento, como Iterator, Observer y Strategy. Para complementar tu aprendizaje, presentaremos casos de estudio y ejemplos prácticos de aplicación, así como un análisis detallado de la necesidad y los beneficios del uso de patrones en la programación orientada a objetos. ¡Acompáñanos en este recorrido y transforma tu enfoque y habilidades en la programación!
              </p>
          </div>
        </section>
      
        <!-- Los temas del ova  -->
        <section class="">

            <div class="cover__details-content">

                <!-- video de introduccion -->
                 <ul style="list-style: none;" class="mb-3 cover__details-content-text">
                    <li class=" mb-5 item">
                        <a href="#" style="text-decoration: none;" class="d-block ">
                            <i class="fa-solid fa-align-left"></i>
                            <span class="d-inline-block ml-2">Video introductorio</span>
                        </a>
                    </li>
                 </ul>

                 <!-- contenidos -->
                 <div aria-label="contents">

                    {% for content in contents %}
                        <section class="mb-4">   
                            <h2 class="section_title mb-0">{{ content.title }}</h2>
                            <ul aria-label="{{ content.ariaLabel }}" style="list-style: none;" class="mb-3 cover cover__details-content-text">
                                {% for item in content.items %}
                                    <li class="item">
                                        <a href="{% url 'lecciones' %}?view={{ item.url }}" style="text-decoration: none;" class="d-block ">
                                            <i class="fa-solid fa-align-left"></i>
                                            <span class="d-inline-block ml-2">{{ item.label }}</span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </section>
                    {% endfor %}

                 </div>
            </div>
          
        </section>

    </div>

</main>

<!-- <script>  
    // contents container
    const contents = document.querySelector('[aria-label="contents"]');
    const contentsData = [
        {
            title: 'Conceptos fundamentales',
            items: [
                {
                    label: '¿Qué es un patrón de diseño?',
                    url: '#',   
                },
                {
                    label: 'Importancia y aplicación ',
                    url: '#',   
                },
                {
                    label: 'Componentes esenciales de un patrón de diseño',
                    url: '#',   
                },
            ],
            ariaLabel: 'index-fundamentals'
        },
        {
            title: 'Patrones creacionales',
            items: [
                {
                    label: 'Factory Method',
                    url: '#',   
                },
                {
                    label: 'Abstract Factory',
                    url: '#',   
                },
                {
                    label: 'Builder',
                    url: '#',   
                },
                {
                    label: 'Prototype',
                    url: '#',   
                },
                {
                    label: 'Singleton',
                    url: '#',   
                },
            ],
            ariaLabel: 'index-creational-patters'
        },
        {
            title: 'Patrones Estrucutrales',
            ariaLabel: 'index-structural-patters',
            items: [
                {
                    label: 'Adapter',
                    url: '#',   
                },
                {
                    label: 'Bridge',
                    url: '#',   
                },
                {
                    label: 'Decorator',
                    url: '#',   
                },
                {
                    label: 'Facade',
                    url: '#',   
                }
            ]
        },
        {
            title: 'Patrones de comportamiento',
            ariaLabel: 'index-behavioral-patters',
            items: [
                {
                    label: 'Iterator',
                    url: '#',   
                },
                {
                    label: 'Observer',
                    url: '#',   
                },
                {
                    label: 'Strategy',
                    url: '#',   
                }
            ]
        },
        {
            title: 'Aplicación Práctica de Patrones de Diseño',
            ariaLabel: 'index-practical-application',
            items: [
                {
                    label: 'Casos de estudio y ejemplos de aplicación',
                    url: '#',
                },
                {
                    label: 'Aspectos concretos del uso de patrones en POO',
                    url: '#',
                },
                {
                    label: 'Análisis de la necesidad y beneficios de su uso',
                    url: '#',
                }
            ]
        }
    ]


    const generateList = (items) => {
        let list = ``
        items.forEach(item => {
            list +=
                `
                    <li class="item">
                        <a href="${item.url}" style="text-decoration: none;" class="d-block ">
                            <i class="fa-solid fa-align-left"></i>
                            <span class="d-inline-block ml-2">${item.label}</span>
                        </a>
                    </li>
                `
            
        })
        return list;
    }

    const createContentByData = (data, container) => {
        data.forEach(item => {
            const list = generateList(item.items);
            container.innerHTML += `
                <section class="mb-4">   
                    <h2 class="section_title mb-0">${item.title}</h2>
                    <ul aria-label="${item.ariaLabel}" style="list-style: none;" class="mb-3 cover cover__details-content-text">
                        ${list}
                    </ul>
            `
        });
    }

    createContentByData(contentsData, contents);


</script> -->

{% endblock body %}
