{% extends 'contenido.html' %}


{% block contenido %}


<div class="und1a-container">
{% comment %} Sección de cards definicion {% endcomment %}
    <h1 class="und1a-title">¿Qué son los patrones de diseño?</h1>

    <div class="und1a-div-cnt extra-def-cnt unit-section">
        <div class="und1a-def-card">
            <div class="und1a-def-content">
                Los patrones de diseño son soluciones generales, reutilizables y aplicables a problemas comunes en el desarrollo de software, basadas en la experiencia acumulada de los desarrolladores. 
            </div>
            <div class="und1a-def-bar">
            <div class="und1a-def-emptybar"></div>
            <div class="und1a-def-filledbar"></div>
            </div>
        </div>

        <div class="und1a-def-card">
            <div class="und1a-def-content">
                Estos patrones proporcionan enfoques estructurados y eficientes para situaciones recurrentes, facilitando la comunicación y el intercambio de soluciones exitosas.
            </div>
            <div class="und1a-def-bar">
            <div class="und1a-def-emptybar"></div>
            <div class="und1a-def-filledbar"></div>
            </div>
        </div>
        
        <div class="und1a-def-card">
            <div class="und1a-def-content">
                Cada patrón aborda un problema de diseño específico, permitiendo a los desarrolladores crear software más eficiente, mantenible y escalable sin reinventar la rueda. 
            </div>
            <div class="und1a-def-bar">
            <div class="und1a-def-emptybar"></div>
            <div class="und1a-def-filledbar"></div>
            </div>
        </div>
        <div class="und1a-def-card">
            <div class="und1a-def-content">
                Es importante recordar que los patrones no son códigos listos para usar, sino guías que deben adaptarse a los requisitos particulares de cada proyecto. Utilizan terminología y notación específicas para mejorar su comprensión y aplicación.
            </div>
            <div class="und1a-def-bar">
            <div class="und1a-def-emptybar"></div>
            <div class="und1a-def-filledbar"></div>
            </div>
        </div>
    </div>
    {% comment %} Sección de cards libros {% endcomment %}
    <h2 class="und1a-title">Libros importantes de patrones de diseño</h2>
    <div class="und1a-div-cnt unit-section">
        <article class="und1-history-card">
            <div class="und1-history-card-icon book1">
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
          
            <div class="und1-history-project-info">
              <div class="und1-history-flex">
                <div class="und1-history-project-title">Design Patterns: Elements of Reusable Object-Oriented Software</div>
              </div>
              <span class="und1-history-lighter"
              >Autores: Erich Gamma, Richard Helm, Ralph Johnson, John Vlissides.</span
                >
              <span class="und1-history-lighter"
                >Introduce 23 patrones de diseño fundamentales organizados en creacionales, estructurales y de comportamiento. Es el libro que sentó las bases del uso de patrones en el desarrollo de software orientado a objetos.</span
              >
            </div>
          </article>

          <article class="und1-history-card">
            <div class="und1-history-card-icon book2">
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
          
            <div class="und1-history-project-info">
              <div class="und1-history-flex">
                <div class="und1-history-project-title">Head First Design Patterns</div>
              </div>
              <span class="und1-history-lighter"
              >Autores: Eric Freeman y Elisabeth Robson.</span
                >
              <span class="und1-history-lighter"
                >Presenta patrones de diseño de manera accesible y visual, con ejemplos prácticos y ejercicios. Es ideal para quienes prefieren un enfoque interactivo y menos formal.</span
              >
            </div>
          </article>

          <article class="und1-history-card">
            <div class="und1-history-card-icon book3">
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
          
            <div class="und1-history-project-info">
              <div class="und1-history-flex">
                <div class="und1-history-project-title">Patterns of Enterprise Application Architecture</div>
              </div>
              <span class="und1-history-lighter"
              >Autor: Martin Fowler.</span
                >
              <span class="und1-history-lighter"
                >Se centra en patrones para la arquitectura de aplicaciones empresariales, abordando problemas como la lógica de negocio y el acceso a datos. Es crucial para desarrolladores de aplicaciones empresariales complejas.</span
              >
            </div>
          </article>

    </div>

    {% comment %} Sección de cards ventajas {% endcomment %}
    <h2 class="und1a-title">Ventajas de utilizar patrones de diseño</h2>

    <div class="und1a-cards-container unit-section">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="card-title">Resolución de Problemas Recurrentes</p>
                    <p>Pon el cursor aqui</p>
                </div>
                <div class="flip-card-back">
                    <p>Proporcionan soluciones probadas y documentadas para problemas comunes, evitando reinventar la rueda.</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="card-title">Mejora de la Comunicación y el Entendimiento</p>
                    <p>Pon el cursor aqui</p>
                </div>
                <div class="flip-card-back">
                    <p>Actúan como un lenguaje común entre desarrolladores, mejorando la colaboración y comprensión del código.</p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="card-title">Facilitación del Mantenimiento y la Extensibilidad</p>
                    <p>Pon el cursor aqui</p>
                </div>
                <div class="flip-card-back">
                    <p>Hacen el código más modular y coherente, facilitando el mantenimiento y la incorporación de nuevas funcionalidades.
                    </p>
                </div>
            </div>
        </div>
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <p class="card-title">Fomento de Buenas Prácticas de Programación</p>
                    <p>Pon el cursor aqui</p>
                </div>
                <div class="flip-card-back">
                    <p>Promueven principios sólidos de ingeniería de software, como la separación de preocupaciones y la reutilización del código, creando sistemas más robustos.</p>
                </div>
            </div>
        </div>
    </div>

    {% comment %} Sección de video {% endcomment %}
    <h2 class="und1a-title">Video explicativo del tema</h2>
     <div class="und1a-video-container">
        <span>aqui va un video pero sin copyright</span>
        {% comment %} <iframe class="und1a-video" width="560" height="315" src="https://www.youtube.com/embed/xHhalCokHmA?si=x-LWbSTSAibSFT19" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
    </div>
    {% comment %} <div class="und1a-source">
        Fuentes: <a href="https://www.youtube.com/c/SoyDalto" target="_blank">Soy Dalto</a>
    </div> {% endcomment %}

    <div class="unit-section">
        <h2 class="und1a-title">Actividad interactiva</h2>
        {% load static %}
        <iframe class="und1a-activity" src="{% static 'activities/QuizUnidad1a.htm' %}"></iframe>
    </div>

    <div class="und1a-div-cnt">
        <a class="next-lession-btn" href="/lecciones?view=importancia-y-aplicacion">Siguiente sección</a>
    </div>

</div>
{% endblock contenido %}

