{% extends 'contenido.html' %}
{% block contenido %}
<h1 class="und1a-title">Video Introductorio al OVA</h1>
<div class="und1a-div-cnt">
<iframe width="750" height="420" src="https://www.youtube.com/embed/LCi0PZgqJw8?si=QcOsL4NjV1Hh2m1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
<span class="und1a-div-cnt">Fuente: Propia</span>
{% endblock contenido %}