{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Inicio Sesión
{% endblock title %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock extra_css %}

{% block body %}

<body class="img js-fullheight" style="background-image: url(/static/img/login.jpg);">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Registrate</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
          <div class="login-wrap p-0">
            <h3 class="mb-4 text-center">Crea una cuenta</h3>
            {% if messages %}
            <div>
              {% for message in messages %}
              <div class="alert alert-{{message.tags}}">
                {{message}}
              </div>
              {% endfor %}
            </div>
            {% endif %}
            <form action="/registro" method="POST" class="signin-form">
              {% csrf_token %}
              <div class="form-group">
                <input id="nombre" name="nombre" type="text" class="form-control" placeholder="Nombre" required>
              </div>
              <div class="form-group">
                <input id="apellido" name="apellido"   type="text" class="form-control" placeholder="Apellido" required>
              </div>
              <div class="form-group">
                <input id="email" name="email" type="text" class="form-control" placeholder="Correo" required>
              </div>
              <div class="form-group">
                <input id="password" name="password" type="password" class="form-control" placeholder="Contraseña" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              <div class="form-group">
                <input id="confirm_password"  name="confirm_password" type="password" class="form-control" placeholder="Confirmación de contraseña" required>
                <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
              </div>
              <div class="form-group">
                <button type="submit" class="form-control btn btn-primary submit px-3">Registrarse</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>
  </section>
</body>
{% endblock body %}